.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.form {
    padding: 30px 60px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}
form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #444;
}
.form input[type="text"], .form input[type="email"], .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.submit {
    width: 100%;
    padding: 12px;
    background-color: rgb(50, 220, 250);
    border: none;
    color: black;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}
.submit:hover {
    background-color: #45a049;
}
.signinpage {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.signinpage a {
    color: #007bff;
    text-decoration: none;
}